<!DOCTYPE html>
<html>
  <head>
    <title>Timestamp Microservice</title>
    <meta name="description" content="A microservice to validate a timestamp string and returns a JSON containing either timestamp or null">
    <link id="favicon" rel="icon" href="https://gomix.com/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        Validate a timestamp string
      </h1>
    </header>

    <main>
      <ul>Example usage:
        <li>Pass a natural language timestamp string like this: <a href="https://shielded-dusk-71287.herokuapp.com/August%2010,%201987">
          <code>https://shielded-dusk-71287.herokuapp.com/August%2010,%201987</code>
          </a>
        </li>
        <li>Pass a UNIX timestamp value like this: <a href="https://shielded-dusk-71287.herokuapp.com/555552000">
          <code>https://shielded-dusk-71287.herokuapp.com/555552000</code>
        </a>
        </li>
      </ul>
      <ul>Example output:
        <li>
          <code>{ "unix": 555552000, "natural": "August 10, 1987" }</code>
        </li>
      </ul>
    </main>

    <footer>
      <p>Developed by 
      <a href="https://github.com/dickyw71" target="_blank">Richard Wheatley</a> and 
      <a href="https://github.com/willnwhite" target="_blank">Will White</a> for
      <a href="https://www.freecodecamp.com/challenges/timestamp-microservice">Free Code Camp</a>
      </p>
    </footer>

  </body>
</html>
